{% extends "halls/base.html" %}
{% block content %}
<div class="container">
  <h2>フォルダ名</h2>
  <form method="POST">
    {% csrf_token %}
    {% load widget_tweaks %}

    {% for field in form %}
    <div class="form-group {% if filed.errors %} alert-danjer {% endif %}">
      {{ field.errors }}
      {{ field.label_tag }}
      {% render_field field class='form-control' %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">作成</button>

  </form>

</div>


{% endblock %}
